
body {
  --black	: #405060;
  --blackerblack	: #1C1B19;
  --red	: #EF2F27;
  --green	: #519F50;
  --yellow	: #FBB829;
  --blue	: #2C78BF;
  --magenta	: #E02C6D;
  --cyan	: #0AAEB3;
  --white	: #918175;
  --brightblack	: #2D2C29;
  --brightred	: #F75341;
  --brightgreen	: 	#98BC37;
  --brightyellow	: 	#FED06E;
  --brightblue	: 	#68A8E4;
  --brightmagenta	: 	#FF5C8F;
  --brightcyan	: 	#53FDE9;
  --brightwhite	: 	#FCE8C3;

  --bg: var(--brightwhite);
  --fg: var(--blackerblack);
  --fg-alt: var(--brightblack);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: var(--blue);
  --hr: hsla(0, 0%, 0%, 0.2);


  background-color: var(--bg);
  --color-selection: #ECC8A3;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: var(--black);
  --fg: var(--brightwhite);
  --fg-alt: var(--white);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: var(--yellow);
  --hr: hsla(0, 0%, 100%, 0.2);

  --color-selection: #506070;
}


.header-link {
  color: var(--fg);
}

.header-link-2 {
  color: var(--textLink);
}

::-moz-selection { /* Code for Firefox */
    background: var(--color-selection);
}

::selection {
    background: var(--color-selection);
}
